manifest {
    name = 'Variant annotation'
    description = 'Annotation of VCF files for small variants and structural variants'
    mainScript = 'main.nf'
    version = '1.0.0'
    author = 'Edoardo Giacopuzzi'
    nextflowVersion = '20.10.0'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/well/gel/HICF2/software/singularity"
  runOptions = "--bind /well:/well"
}

params {
  exomiser = false
  GADO = false
  exomiser_cli = "/well/gel/HICF2/software/exomiser/exomiser-cli-12.1.0/exomiser-cli-12.1.0.jar"
  exomiser_appsettings = "$projectDir/config/application.settings"
  exomiser_template = "$projectDir/config/template_GRCh38.yml"
  GADO_cli = "/well/gel/HICF2/software/GadoCommandline-1.0.1/GADO.jar"
  GADO_datafolder = "/well/gel/HICF2/ref/GADO_resources/05_07_2021/"
  HPO_obofile = "/well/gel/HICF2/ref/HPO/hp_20210708.obo"
}

process {
  withName: 'sv_anno' {
    container = "library://edg1983/wgs_pipeline/sv_processing:v1.0"
  }
}

profiles {
  sge {
    executor {
      name = 'sge'
      queueSize = 200
      pollInterval = '1 min'
      queueStatInterval = '1 min'
      dumpInterval = '1 min'
      queue='short.qc'
      clusterOptions='-pe shmem 2'
    }
  }
  
  slurm {
    executor {
      name = 'slurm'
      queueSize = 200
      pollInterval = '1 min'
      queueStatInterval = '1 min'
      dumpInterval = '1 min'
      queue='short.qc'
      cpus = 1
      memory = '16G'
    }
  }

  local {
    executor {
      name = 'local'
      queueSize = 10
    }
  }
}